<div class="top-wrapper bg-blue-600 text-white h-screen flex items-center justify-center">
  <div class="top-inner-text text-center">
    <h1 class="text-4xl font-extrabold sm:text-5xl lg:text-6xl">HAPPY WORD FACTORY</h1>
    <%= link_to 'Start', static_pages_show_path, class: 'mt-6 px-8 py-3 text-lg font-semibold bg-blue-500 hover:bg-blue-600 text-white rounded-full transition duration-300' %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
