<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 class="display-4">HAPPY WORD FACTORY</h1>
    <%= link_to 'Start', static_pages_show_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
